In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
%matplotlib inline

/Users/fujitakousuke/anaconda/envs/py35/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [9]:
data = pd.read_csv("./data/teams.csv")
data.head()

    水域    大学名   クラス
0  北海道   北海道大  470級
1   東北    東北大  470級
2   関東  慶應義塾大  470級
3   関東   早稲田大  470級
4   関東    明海大  470級

In [12]:
abc = [[x+"A",x+"B", x+"C"] for x in data["大学名"]]
abc2 = []
for x in abc:
    abc2.extend(x)
abc2

['北海道大A',
 '北海道大B',
 '北海道大C',
 '東北大A',
 '東北大B',
 '東北大C',
 '慶應義塾大A',
 '慶應義塾大B',
 '慶應義塾大C',
 '早稲田大A',
 '早稲田大B',
 '早稲田大C',
 '明海大A',
 '明海大B',
 '明海大C',
 '日本大A',
 '日本大B',
 '日本大C',
 '中央大A',
 '中央大B',
 '中央大C',
 '法政大A',
 '法政大B',
 '法政大C',
 '千葉大A',
 '千葉大B',
 '千葉大C',
 '愛知工業大A',
 '愛知工業大B',
 '愛知工業大C',
 '愛知大A',
 '愛知大B',
 '愛知大C',
 '同志社大A',
 '同志社大B',
 '同志社大C',
 '京都大A',
 '京都大B',
 '京都大C',
 '金沢大A',
 '金沢大B',
 '金沢大C',
 '関西学院大A',
 '関西学院大B',
 '関西学院大C',
 '関西大A',
 '関西大B',
 '関西大C',
 '近畿大A',
 '近畿大B',
 '近畿大C',
 '広島大A',
 '広島大B',
 '広島大C',
 '鳥取大A',
 '鳥取大B',
 '鳥取大C',
 '徳島大A',
 '徳島大B',
 '徳島大C',
 '九州大A',
 '九州大B',
 '九州大C',
 '日本経済大A',
 '日本経済大B',
 '日本経済大C',
 '鹿屋体育大A',
 '鹿屋体育大B',
 '鹿屋体育大C',
 '小樽商科大A',
 '小樽商科大B',
 '小樽商科大C',
 '東北大A',
 '東北大B',
 '東北大C',
 '慶應義塾大A',
 '慶應義塾大B',
 '慶應義塾大C',
 '早稲田大A',
 '早稲田大B',
 '早稲田大C',
 '明海大A',
 '明海大B',
 '明海大C',
 '日本大A',
 '日本大B',
 '日本大C',
 '中央大A',
 '中央大B',
 '中央大C',
 '法政大A',
 '法政大B',
 '法政大C',
 '明治大A',
 '明治大B',
 '明治大C',
 '三重大A',
 '三重大B',
 '三重大C',
 '名古屋工業大A',
 '名古屋工業大B',
 '名古屋工業大C',
 '同志社大A',
 '同志社大B',
 '同志社大C',
 '京都大A',
 '京都大B',
 '京都大C',
 '龍谷大A',
 '龍谷大B',
 '龍谷大C',
 '関西学院大A',
 '関西学院大B',
 '関西学院大C',
 '関西大A',
 '関西大B',
 '関西大C',
 '甲南大A',
 '甲南大B',
 '甲南大C',
 '広島大A',
 '広島大B',
 '広島大C',
 '山口大A',
 '山口大B',
 '山口大C',
 '香川大A',
 '香川大B',
 '香川大C',
 '九州大A',
 '九州大B',
 '九州大C',
 '福岡大A',
 '福岡大B',
 '福岡大C',
 '長崎総合科学大A',
 '長崎総合科学大B',
 '長崎総合科学大C']

In [17]:
data2 = pd.DataFrame({
        "水域" : np.repeat(data["水域"],3) ,
        "大学名": np.repeat(data["大学名"],3),
        "クラス": np.repeat(data["クラス"],3),
        "チーム名": abc2,
              },columns=["水域","大学名","クラス","チーム名"])
print(data2.shape)
data2.head()

(138, 4)

    水域   大学名   クラス   チーム名
0  北海道  北海道大  470級  北海道大A
0  北海道  北海道大  470級  北海道大B
0  北海道  北海道大  470級  北海道大C
1   東北   東北大  470級   東北大A
1   東北   東北大  470級   東北大B

# ランダムデータ

In [16]:
import random

In [36]:
juni = random.sample(list(range(1,70)),69)
juni.extend(random.sample(list(range(1,70)),69))
juni2 = random.sample(list(range(1,70)),69)
juni2.extend(random.sample(list(range(1,70)),69))
juni3 = random.sample(list(range(1,70)),69)
juni3.extend(random.sample(list(range(1,70)),69))

In [37]:
data2["race1"] = juni
data2["race2"] = juni2
data2["race3"] = juni3

In [38]:
data2.head()

    水域   大学名   クラス   チーム名  race1  race2  race3
0  北海道  北海道大  470級  北海道大A     14     63     27
0  北海道  北海道大  470級  北海道大B     68     52     44
0  北海道  北海道大  470級  北海道大C      8     41     59
1   東北   東北大  470級   東北大A      6     25     29
1   東北   東北大  470級   東北大B     16      8      3

In [39]:
data2.to_csv("./data/test_data.csv", index=False)